<div class="relative flex flex-col min-w-0 break-word w-full mb-6 shadow-lg rounded glassmorphism shadow-material">
    <div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">
        <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
            <div class="mb-4" >
                    <h1 class="text-grey-darkest">Todo List</h1>
                    <div class="flex mt-4">
                    <input class="input-text shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker" placeholder="Add Todo" type="text" 
                    placeholder="Type a todo"
                    [(ngModel)]="itemValue" 
                    (keyup.enter)="addItem()">
                    <button class="flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:text-white hover:bg-teal" (click)="addItem()">Add</button>
                </div>
            </div>
            <div>
                <div class="flex mb-4 items-center" *ngFor="let item of list">
                    <p class="w-full text-grey-darkest">{{item.value}}</p>
                    <input type="checkbox" name="isDone" [(ngModel)]="item.isDone" class="flex-no-shrink p-2 ml-4 mr-2 form-checkbox h-5 w-5 text-green-600">
                    <button class="flex-no-shrink p-2 ml-2 border-2 rounded text-red border-red hover:text-white hover:bg-red" (click)="deleteItem(item.id)">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>