.navbar {
  border-bottom: $navbar-border-bottom;
  box-shadow: $box-shadow-material;
    /*background: rgba(255, 255, 255, 0.45);*/
    /*background: rgba(255, 255, 255, 0.45);*/
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  @include media-breakpoint-down(md) {
    width: 100vw;
  }
}

.navbar__align {
  margin-left: auto;
}

.navbar__bg {
  background: $navbar-bg;
}

.navbar__nav {
  direction: ltr;
}

.navbar__align {
  margin-left: auto;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .navbar .avatar {
    max-height: 47px;
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    padding: 0.75rem;
  }

  .nav__icon {
    padding: 0.1rem 0.75rem;
  }

  .dropdown,
  .dropleft,
  .dropright,
  .dropup {
    position: inherit;
  }

  .navbar__expand .navbar__nav .dropdown-menu-lg {
    min-width: 100%;
  }

  .nav__item .nav__link:after {
    display: none;
  }
}

.nav__flag img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.navbar input {
  direction: ltr;
}

.avatar {
  width: 40px;
  height: 40px;
}

.avatar-lg {
  width: 64px;
  height: 64px;
}

.avatar-title {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: $primary;
}