<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="index.html">
        <rmx-icon name="dashboard-3-line" class="bi"></rmx-icon>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <rmx-icon name="server-line" class="bi"></rmx-icon><span>Components</span><rmx-icon name="arrow-down-s-line" class="bi bi-chevron-down ms-auto"></rmx-icon>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="">
            <rmx-icon name="checkbox-blank-circle-line" class="bi"></rmx-icon><span>Alerts</span>
          </a>
        </li>
        <li>
          <a href="">
            <rmx-icon name="checkbox-blank-circle-line" class="bi"></rmx-icon><span>Accordion</span>
          </a>
        </li>
        <li>
          <a href="">
            <rmx-icon name="checkbox-blank-circle-line" class="bi"></rmx-icon><span>Badges</span>
          </a>
        </li>
        <li>
          <a href="">
            <rmx-icon name="checkbox-blank-circle-line" class="bi"></rmx-icon><span>Breadcrumbs</span>
          </a>
        </li>
        <li>
          <a href="">
            <rmx-icon name="checkbox-blank-circle-line" class="bi"></rmx-icon><span>Buttons</span>
          </a>
        </li>
        <li>
          <a href="">
            <rmx-icon name="checkbox-blank-circle-line" class="bi"></rmx-icon><span>Cards</span>
          </a>
        </li>
        <li>
          <a href="">
            <rmx-icon name="checkbox-blank-circle-line" class="bi"></rmx-icon><span>Modal</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <rmx-icon name="table-line" class="bi"></rmx-icon><span>Forms</span><rmx-icon name="arrow-down-s-line" class="bi bi-chevron-down ms-auto"></rmx-icon>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="">
            <rmx-icon name="checkbox-blank-circle-line" class="bi"></rmx-icon><span>Form Elements</span>
          </a>
        </li>
        <li>
          <a href="">
            <rmx-icon name="checkbox-blank-circle-line" class="bi"></rmx-icon><span>Form Layouts</span>
          </a>
        </li>
        <li>
          <a href="">
            <rmx-icon name="checkbox-blank-circle-line" class="bi"></rmx-icon><span>Form Editors</span>
          </a>
        </li>
        <li>
          <a href="">
            <rmx-icon name="checkbox-blank-circle-line" class="bi"></rmx-icon><span>Form Validation</span>
          </a>
        </li>
      </ul>
    </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <rmx-icon name="table-line" class="bi"></rmx-icon><span>Tables</span><rmx-icon name="arrow-down-s-line" class="bi bi-chevron-down ms-auto"></rmx-icon>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="">
            <rmx-icon name="checkbox-blank-circle-line" class="bi"></rmx-icon><span>Data Tables</span>
          </a>
        </li>
      </ul>
    </li><!-- End Tables Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <rmx-icon name="bar-chart-2-line" class="bi"></rmx-icon><span>Charts</span><rmx-icon name="arrow-down-s-line" class="bi bi-chevron-down ms-auto"></rmx-icon>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="">
            <rmx-icon name="checkbox-blank-circle-line" class="bi"></rmx-icon><span>Chart.js</span>
          </a>
        </li>
      </ul>
    </li><!-- End Charts Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
        <rmx-icon name="ancient-gate-line" class="bi"></rmx-icon><span>Icons</span><rmx-icon name="arrow-down-s-line" class="bi bi-chevron-down ms-auto"></rmx-icon>
      </a>
      <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="">
            <rmx-icon name="checkbox-blank-circle-line" class="bi"></rmx-icon><span>Bootstrap Icons</span>
          </a>
        </li>
        <li>
          <a href="">
            <rmx-icon name="checkbox-blank-circle-line" class="bi"></rmx-icon><span>Remix Icons</span>
          </a>
        </li>
      </ul>
    </li><!-- End Icons Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="users-profile.html">
        <rmx-icon name="user-line" class="bi"></rmx-icon>
        <span>Profile</span>
      </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-faq.html">
        <rmx-icon name="information-line" class="bi"></rmx-icon>
        <span>F.A.Q</span>
      </a>
    </li><!-- End F.A.Q Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-contact.html">
        <rmx-icon name="mail-send-line" class="bi"></rmx-icon>
        <span>Contact</span>
      </a>
    </li><!-- End Contact Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-register.html">
        <rmx-icon name="contacts-book-2-line" class="bi"></rmx-icon>
        <span>Register</span>
      </a>
    </li><!-- End Register Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-login.html">
        <rmx-icon name="login-circle-line" class="bi"></rmx-icon>
        <span>Login</span>
      </a>
    </li><!-- End Login Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-error-404.html">
        <rmx-icon name="forbid-line" class="bi"></rmx-icon>
        <span>Error 404</span>
      </a>
    </li><!-- End Error 404 Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-blank.html">
        <rmx-icon name="file-line" class="bi"></rmx-icon>
        <span>Blank</span>
      </a>
    </li><!-- End Blank Page Nav -->

  </ul>

</aside><!-- End Sidebar-->